 /* mail Details  */
 .mail-details {
   display: flex;
   flex-direction: column;
   padding: 1rem;
   margin: 0 auto;
   width: 80%;
 }

 .toolbar {
   display: flex;
   gap: 0.75rem;
   border-bottom: 1px solid var(--color-border);
   padding-bottom: 0.5rem;
 }

 .mail-content-layout {
   display: flex;
   align-items: flex-start;
   gap: 1.25rem;
   margin-top: 1.5rem;
 }

 .mail-main {
   flex: 1;
 }

 .mail-header {
   display: flex;
   justify-content: space-between;
   align-items: start;
   flex-wrap: wrap;
   margin-bottom: 1rem;
 }

 .mail-header-details {
   display: flex;
   align-items: center;
   gap: .75rem;
   font-size: .9rem;
   color: var(--color-bg-2);
 }

 .sender-details {
   font-size: 0.95rem;
   margin-bottom: 1rem;
 }

 .sender-icon {
   width: 3rem;
   height: 48px;
   background-color: #f3a4a4;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: bold;
   font-size: 1.2rem;
   flex-shrink: 0;
 }

 .mail-body {
   margin-top: 1rem;
   font-size: 1rem;
   border-top: 1px solid var(--color-border);
   padding: 1rem 0;
 }

 .mail-actions {
   display: flex;
   gap: 1rem;
   margin-top: 2rem;
   /* justify-content: space-between; */
 }

 .mail-actions button {
   padding: 0.6rem 1.2rem;
   border-radius: 20px;
   border: 1px solid var(--color-border);
 }