 /* mail list */

 .mail-item {
   border-bottom: 1px solid #eee;
   cursor: pointer;
   position: relative;
   padding: 7px;
 }

 .mail-item:hover {
   background-color: #f5f5f5;
 }

 .mail-item.read {
   background-color: white;
   font-weight: normal !important;
   color: #5f6368;
   background-color: var(--color-bg--1);
 }

 .mail-item.read .from,
 .mail-item.read .subject {
   font-weight: normal !important;
   color: #5f6368;

 }

 .mail-item.read:hover {
   background-color: #f5f5f5;
 }

 .mail-item .mail-content, .from {
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   max-width: auto;
 }

 .btn-mail-preview {
   position: absolute;
   right: .5rem;
   top: 50%;
   transform: translateY(-50%);
   display: none;
 }

 .mail-item:hover .btn-mail-preview {
   display: block;
 }

 .mail-item:hover .created-at {
   display: none;
 }

 .no-mail-found {
   text-align: center;
 }

 .no-mail-found::after {
   content: '';
   display: block;
   height: 1px;
   background-color: #ccc;
   margin-top: 1rem;
 }