 /* mail list */

 .mail-item {
   border-bottom: 1px solid var(--color-border);
   cursor: pointer;
   position: relative;
   padding: 7px;
 }

 .mail-item:hover {
   background-color: var(--color-hover-li);
 }

 .mail-item.read {
   background-color: var(--color-bg);
   font-weight: normal !important;
   color: var(--color-bg-2);
   background-color: var(--color-bg--1);
 }

 .mail-item.read .from,
 .mail-item.read .subject {
   font-weight: normal !important;
   color: (--color-bg-2);
 }

 .mail-item.read:hover {
   background-color: var(--color-hover-li);
 }

 .mail-item .mail-content,
 .from {
   white-space: nowrap;
 }

 .btn-mail-preview {
   position: absolute;
   right: .5rem;
   top: 50%;
   transform: translateY(-50%);
   display: none;
 }

 .mail-item:hover .btn-mail-preview {
   display: block;
 }

 .mail-item:hover .created-at {
   display: none;
 }

 .no-mail-found {
   text-align: center;
 }

 .no-mail-found::after {
   content: '';
   display: block;
   height: 1px;
   background-color: var(--color-border);
   margin-top: 1rem;
 }

 .filter-sort-panel {
   font-size: .8rem;
   display: flex;
   justify-content: space-between;
   padding: 10px;
   font-weight: bold;
 }

 .filter-sort-panel span {
   padding: 0.3rem .6rem;
   border-radius: 20px;
   border: 1px solid var(--color-border);
 }

 .filter-sort-panel .label-text{
  border: none;
 }

 .filter-sort-panel span:not(:first-child) {
   margin-left: .5rem;
 }

 .filter-sort-panel button {
   margin-inline: 0;
   padding-inline: 0;
   margin-left: 2px;
 }

 .filter-sort-panel button:hover {
   scale: 1.1;
   font-weight: bold;
 }

 .btn-read-filter.active {
   background-color: var(--color--bg--3);
 }