 /* mail Filter  */

 .mail-filter {
    margin-bottom: 1rem;
    background-color: var(--color-bg--2);
}

.serach-input{
    /* 1.5rem = 24px */
    margin: .8rem 0 0 .6rem;
    border-radius: 1.5rem;
    background-color: #E9EEF6;
    width: 80%;   
    padding:7px;
}
