 /* mail Filter  */

 .mail-filter {
     background-color: var(--color-bg--2);
     padding: 15px;
 }

 .serach-input {
     /* 1.5rem = 24px */
     border-radius: 1.5rem;
     background-color: #E9EEF6;
     width: 80%;
     padding: 14px;
 }