.mail-compose {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25rem;
    z-index: 1;
    background-color: var(--color-bg);
    border: 1px solid #ccc;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.mail-compose-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    background-color: var(--color-bg--1);
}

.mail-compose-header span {
    font-weight: bold;
}

.mail-compose form {
    display: flex;
    flex-direction: column;
    padding: 10px 12px;
    gap: 10px;
}

textarea {
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 8px;
    margin-bottom: 10px;
    min-height: 260px;
}

.btn-send-mail {
    background-color: #1a73e8;
    color: white;
    padding: 6px 14px;
    border-radius: 4px;
}

input:focus,
textarea:focus,
button:focus {
    outline: none;
    box-shadow: none;
}


.mail-compose .to,
.mail-compose .from,
.mail-compose .subject {
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
    padding: 5px;
}

.mail-compose .to:active,
.mail-compose .from:active,
.mail-compose .subject:active{
    background-color: transparent;
}