/* Mobile*/
@media (max-width: 600px) {
  .mail-index {
    grid-template-columns: 80px 1fr;
  }

  .mail-folder-list p:not(:first-child) {
    display: flex;
    gap: 10px;
  }

  .label-text {
    display: none;
  }

  .mail-folder-list p:first-child {
    padding: 1rem;
  }

  .btn-compose-mail::before {
    margin-right: 0;
  }

  .mail-preview {
    grid-template-columns: 30px 100px 80px;
    grid-template-rows: auto auto;
  }

  .mail-content {
    grid-column: 1 /-1;
    grid-row: 2;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .mail-content .subject,
  .mail-content .body {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* Screens */
@media (min-width: 600px) {
  .mail-index {
    grid-template-columns: 200px 1fr;
  }

  .mail-folder-list p:not(:first-child) {
    display: grid;
    grid-template-columns: 60px 1fr 50px;
  }

  .mail-folder-list .label-text {
    display: inherit;
  }

  .mail-preview {
    grid-template-columns: 30px 100px 1fr 80px;
  }

  .mail-content {
    grid-column: 3;
  }

  .mail-item .mail-content,
  .from {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}