:root {
    /* mail */

    --color-bg-2: #5f6368;              /* read mail text color */   
    --color-bg-1: #E9EEF6;              /* filter color */
    --color-bg: white;
    --color-bg--1: #f1f5fb;             /* header */
    --color-bg--2: #f8fafd;             /* side-bar &filter */
    --color--bg--3: #d3e3fd;            /* btn active */

    --color-star: #e4bb24;
    --color-hover-li: #f5f5f5;
    --color-hover-folder-list: #e0e0e0;
    --color-border: #ccc;

    --font-size: 1rem;
}