.todos-input{
    border: .5px solid black;
    width: 8.5em;
    border-radius: 5px;
    padding-left: 8px;
    grid-row: 1;
    margin-top: 5px;
}

.todo-container{
    display: grid;
}

.todo{
    grid-row: 1;
}

.remove-todo{
    grid-row: 1;
    justify-self: end;
}

.add-todo{
    grid-row: 1;
    justify-self: end;
}

.todo-title:hover{
    cursor: pointer;
}

.note-todos-preview ul{
    margin-top: 20px;
}