 /* home */
.home{
    margin-top: 90px;
    display: grid;
    justify-items: center;
}

.home-logo span{
    font-size: 7em;
}

.home-txt{
    border: 1.5px solid black;
    border-radius: 50px;
    height: 3em;
    width: 30em;
    margin-top: 20px;
    padding-left: 15px;
}
